/* ------------- Global ---------------- */
body{
    background-color: #000032;
    color: white;
    /*background-image: url("../images/background-leafy-wall.jpg");
    background-size: auto;
    background-size: cover;*/
}
hr{
    background-color: white;
    width: 75%;
    align-content: center;
}

.headerStyles span{
    font-size: 19px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

input{
    text-decoration: none;
    border-color: #000032;
    border-top-style: none;
    border-radius: 5px;
}

.buttonLogin{
    text-decoration: none;
    color: white;
    background-color: #000032;
    border-color: #000032;
    border-top-style: none;
    border-radius: 5px;
}

.nav-item .nav-link{
    font-size: 19px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: white;

}
.logo-div{
    background-color: #b1ff70;

}
.nav-div{
    background-color: #ffb342;

}
.div-left{
    background-color: red;
}.div-right{
     background-color: #70b9ff;
 }

.div-middle{
    background-color: #ff898c;
}
.div-other{
    background-color: #4f45ff;
}
/*#Login, #InputEmail, #InputPassword {*/
/*width: 33%;*/
/*float: left*/
/*}*/

.myProfileFonts{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}
/* ------------- Index page ---------------- */
.jumbotron{

    background-color: #000032;
}
.display-4{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 45px;
}


.lead{
    /*
    font-family: 'Roboto', sans-serif;
    */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.btn-outline-primary{
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}

.btn-outline-primary:hover {
    background-color: #080832;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-color: white;
}

.img-no-timers{
    width: 320px;
    height: 185px;
}